/.idea
/artifacts
/build
/test
/node_modules
/*.iml
/*.ipr
/*.iws
/.travis.yml
/.scrutinizer.yml
/Gruntfile.js
/*.lock
*.log
/corifeus-boot.json


# Corifeus / P3X
/tsconfig*
/dist/node_modules
/dist/test
/src
/index.ts

# need to allow ts for awesome=typscript-loader
