@import 'corifeus-web-material/src/scss/all';

.p3x-angular-compile-element {
  padding: 5px;
}

.cory-mat-theme-light {
  .p3x-angular-compile-element {
    border: dashed 2px rgba(black, 0.1);
    background-color: rgba(black, 0.05);
    padding: 5px;
  }
}

.cory-mat-theme-dark {
  .p3x-angular-compile-element {
    border: dashed 2px rgba(white, 0.1);
    background-color: rgba(white, 0.05);
    padding: 5px;
  }
}
