.cory-mat-theme-dark,
.cory-mat-theme-light {

    a:hover mat-icon,
    button:hover mat-icon,
    a:hover svg,
    button:hover svg,
    svg:hover,
    .cory-hover-rotate:hover img,
    a.cory-hover-rotate:hover img,
    button.cory-hover-rotate:hover img,
    img.emoji:hover,
    mat-icon:hover,
    .fa:hover, .fas:hover, .fab:hover, .far:hover,
    button:hover .fa, button:hover .fas, button:hover .fab, button:hover .far,
    a:hover .fa, a:hover .fas, a:hover .fab, a:hover .far
    {
        transition: all 500ms !important;
        transform: scale(1.2) rotate(360deg) !important;;
    }

    .cory-hover-scale:hover img,
    a.cory-hover-scale:hover img,
    button.cory-hover-scale:hover img {
        transition: all 500ms !important;;
        transform: scale(1.5) !important;;
    }

}
