
snack-bar-container {
    position: relative;
    min-height: 50px;
    min-width: 333px !important;
    color: white !important;
    background-color: rgba(0, 0, 0, 0.9) !important;
    overflow: hidden;
}
