$cory-mat-size-xsmall: 600px;
$cory-mat-size-small: 960px;
$cory-mat-size-medium: 1280px;
$cory-mat-size-large: 1920px;

$cory-mat-fixed-height-top: 69px;
$cory-mat-fixed-height-bottom: 69px;
$cory-mat-fixed-height-collapsed: 60px;
