@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


@include mat.core();
$workspace-primary: mat.define-palette(mat.$green-palette);
$workspace-accent: mat.define-palette(mat.$purple-palette, A200, A100, A400);
$workspace-warn: mat.define-palette(mat.$red-palette);
$workspace-theme: mat.define-light-theme($workspace-primary, $workspace-accent, $workspace-warn);

@include mat.core-theme($workspace-theme);
@include mat.divider-theme($workspace-theme);
@include mat.card-theme($workspace-theme);

@include mat.toolbar-theme(mat.define-light-theme(
        mat.define-palette(mat.$blue-grey-palette, 700),
        mat.define-palette(mat.$blue-grey-palette, 200),
        mat.define-palette(mat.$green-palette)
));


@include mat.button-theme(mat.define-light-theme(
        mat.define-palette(mat.$orange-palette, 900),
        mat.define-palette(mat.$indigo-palette, 500),
        mat.define-palette(mat.$red-palette, 500)
));


.p3x-ng-compile-template-intent:before {
}
.p3x-ng-compile-template-intent {
    color: mat.get-color-from-palette(mat.$grey-palette, 500);
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

.p3x-ng-compile-template {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
}

a.mat-button {
    //padding: 0;
}
